.navbar {
    width: 250px;
    background-color: royalblue;
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    height: 100vh;
    position: sticky;
    top: 0;
}

.navbar a {
    color: white;
    text-decoration: none;
    margin-bottom: 10px;
    font-size: 20px;
}

.navbar a:hover {
    background-color: #555;
}