nav {
    top: 0;
    left: 0;
    width: 18%;
    height: 100%;
    background-color: #ffffff;

    display: flex;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
    padding-left: 10px;
    padding-right: 10px;
}

nav button {
    width: 100%;
    height: 55px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 2px solid rgb(177, 177, 177);
    font-size: 18px;
    text-align: left;
    padding-left: 50px;
    
}

nav button:hover {
    background-color: #b0b0b0;
}

nav .nav-divider {
    width: 100%;
    height: 4px;
    background-color: rgb(177, 177, 177);
    margin: 15px 0;
}

nav .move-to-bottom {
    width: 100%;
    margin-top: auto;
    margin-bottom: 20px;
}